{% extends 'base.twig' %}

{% block content %}
    <div class="col-md-9">
        <div class="container text-danger">
            <p> Admin Sorry Page Not Found</p>
        </div>
    </div>
{% endblock %}