{% extends 'base.twig' %}

{% block content %}
    <div class="container">
        <h3 class="text text-muted">Hello user, this is the first page</h3>
        <h6 class="text text-primary">This page is in <code>Application/WebInterface/Home/Index</code></h6>
        <h5 class="text text-success"> FrameWork By: Atul Nepal </h5>
        <a href="https://twitter.com/tm_a21" class="twitter-follow-button" data-show-count="true"></a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
{% endblock %}