{% if ConfirmationMessageType=="Success" %}

<div class="alert alert-success">
    {{ ConfirmationMessage }}
</div>

{% elseif ConfirmationMessageType=="Failed" %}

<div class="alert alert-error">
    {{ ConfirmationMessage }}
</div>

{% elseif ConfirmationMessageType=="Warning" %}

    <div class="alert alert-info">
        {{ ConfirmationMessage }}
    </div>

{% endif %}
