{% extends 'base.twig' %}


{% block content %}
    <div class="container my-5">
        <div class="text-center">
            <a class="btn btn-primary" style="color:#fff"
               href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=37MF4DYE7RXKE">Pay for
                this
                month</a>
        </div>

    </div>
{% endblock %}